/**{
  border: 1px solid red !important;
}*/
.container {
  max-width: 960px;
  margin-top: 2%;
}
body, a{
  font-family: 'Raleway', sans-serif;
  color: #522F24;
}
h1{
  font-weight: 300;
  margin-bottom: 0;
}
h3{
  font-weight: 300;
  margin-top: 0;
}
.bg-body {
  background-color: white;
}
.nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.nav__list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav__item {
  box-sizing: border-box;
  display: inline-block;
  width: 50%;
  text-align: left;
  line-height: 24px;
  padding: 15px;
  padding-top: 0;
  padding-left: 24px;
  padding-right: 24px;
}

.nav-text-alignleft{
  text-align: left;
}
.nav-text-alignright{
  text-align: right;
}

.nav a {
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

.nav a:visited {
  color: #522F24;
}

.left-block {
  display: block;
  margin-left: 0;
  margin-right: auto;
  }
.right-block {
    display: block;
    margin-right: 0;
    margin-left: auto;
  }
.color-bg{
  background-color: #B6CA94;
}
.border-logo{
  border: 4px solid #B6CA94;
}
.margin-body{
  margin-top: 2%;
}
.margin-footer{
  margin-bottom: 2%;
}
hr{
  height: 3px;
  background-color: #B6CA94;
  margin-top: 6px;
  margin-bottom: 6px;
}
img{
  padding: 3px;
  border: 2px solid #B6CA94;
}

.space-images {
  padding-bottom: 10px;
}

.space-images-plus {
  padding-bottom: 20px;
  padding-top: 20px;
}

.line-index {
  position: relative;
}
.line-index:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #B6CA94;
  left: 50%;
}

/********** ABOUT ME CIRCLE **********/

.space-around {
padding-top: 20px;
padding-bottom: 20px;
}
.space-bigger {
  padding-top: 100px;
  padding-bottom: 10px;
}

/********** TIMELINE RESUME **********/

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #B6CA94;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #B6CA94;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #B6CA94;
  border-right: 0 solid #B6CA94;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #69813c;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}

/********** MEDIA QUERIES **********/

@media screen and (max-width: 768px) {
  .timeline:before {
    left: 93%;
    margin-left: -1.5px;
  }
  .timeline > li > .timeline-badge {
    width: 50px;
    height: 50px;
    left: 93%;
  }
  .timeline > li > .timeline-panel {
    width: 83%;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: left;
  }
  .timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 15px;
    border-right-width: 0;
    right: -15px;
    left: auto;
  }
  .timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 14px;
    border-right-width: 0;
    right: -14px;
    left: auto;
  }
}

@media screen and (min-width: 568px) and (max-width: 768px) {
  .col-s-6 {
    width: 50%;
  }
  .line-index:before {
  left: 24%;
  }
  .line-index:after {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #B6CA94;
  right: 24%;
  z-index: -1;
  }
}

@media screen and (min-width: 768px){
  .line-index:before{
    content: none;
  }
}
